:root{
    --white: #f9fafb;
    --primary: #9333ea;
    --accent: #eab308;
    --black: #09090b;
    --gray: #d1d5db;
    --primary-font: 'Roboto', sans-serif;
    --description-color: #525252;
    --card-border-radius: 0.75rem;
    font-family: var(--primary-font);
}
.container{
    min-width: 100vw;
    max-height: 100vh;
    display: grid;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    grid-template-columns: 0.8fr 3fr;
    grid-template-rows: 1fr 5fr;
}
.header{
    grid-area: header;
    background-color: var(--white);
}
.sidebar{
    grid-area: sidebar;
    background-color: var(--primary);
    padding: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.main{
    grid-area: main;
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 2rem;
    padding: 2rem 2rem 5rem 2rem;

}
.title-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.title-container > p{
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
}
.svg{
    fill: var(--white);
}
.svg-black{
    fill: var(--black);
}
.large{
    width: 3.5rem;
    height: 3.5rem;
}
.small{
    width: 1.75rem;
    height: 1.75rem;
}
.sidebar-nav-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.choice-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.9rem;
    position: relative;
    left: 0.85rem;
}
.choice-container > p{
    font-size: 1.45rem;
    font-weight: 700;
    color: var(--white);
}
.choice-container > svg{
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--white);
}
.header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 2vh 3.25rem;

}
.search-bar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
#search-bar{
    width: 40rem;
    height: 1.8rem;
    background-color: var(--gray);
    border-radius: 2.5rem;
}
#small-profile{
    width: 4rem;
    height: auto;
    border-radius: 100%;
}
#large-profile{
    width: 6rem;
    height: auto;
    border-radius: 100%;
}
.name-notif-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.name-notif-container > p{
    font-size: 1.25rem;
    font-weight: 700;
}
.search-notif-name-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 5rem;
}
.greeting-nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}
.greeting-pic-container{
    width: 25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.greeting-container{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.greeting-container > p{
    font-size: 1.05rem;
}
.greeting-container > h1{
    font-size: 1.8rem;
}
.nav-container{
    display:flex;
    width: calc(350px + 5rem);
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav-buttons{
    padding: 0.7rem 1.8rem;
    background-color: var(--primary);
    border-radius: 2rem;
    border: 0px;
    color: var(--white);
    font-weight: 700;
    font-size: 1.05rem;
}
.big-container{
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.section-title{
    font-size: 1.5rem;
    font-weight: 500;
}
.side-container{
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.project-grid-container{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
}
.grid-item{
    background-color: var(--white);
    width: 100%;
    max-height: 100%;
    border-radius: var(--card-border-radius);
    box-shadow: 0px 4px 1px rgba(0,0,0, 0.1);
    display: flex;
    flex-direction: row;
}
.accent-block{
    border-radius: var(--card-border-radius) 0 0 var(--card-border-radius);
    width: 0.6rem;
    height: 100%;
    background-color: var(--accent);
}
.content-block{
    width: calc(100% - 0.6rem);
    max-height: 100%;
    padding: 2.5rem  1.5rem 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    position: relative;

}
.content-block > h1{
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 700;
}
.content-block > p {
    color: var(--description-color);
}
.buttons-block{
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
}
.medium{
    width: 1.75rem;
    height: 1.75rem;
}
.announcements-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.announcement-content-container{
    background-color: var(--white);
    border-radius: var(--card-border-radius);
    padding: 1rem 2rem;

}
.grid-container-an{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 0.12rem;
    background-color: var(--gray);
}
.section-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: fit-content;
    text-overflow: ellipsis;
    background-color: white;
    padding: 1rem 0;
    background-color: var(--white);
}
.section-container > h1{
    font-size: 1.1rem;
    font-weight: 700;
}
.section-container > p{
    font-size: 1rem;
    color: var(--description-color);
}
.trending-content-container{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: var(--card-border-radius);
}
.trending-profile-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 1.1rem 1.1rem;
    font-size: 1.1rem;
    gap: 1rem;
}
#first{
    padding: 1.1rem;
}
.handle-name-container{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.handle-name-container > #name{
    color:var(--description-color);
}